@keyframes move-to-left {
  from {
    transform: translateX(1100px)
  } to {
    transform: translateX(-100px)
  }
}

body{
  background-image: url('/pictures/Game.jpg');
}

.game__square {
  width: 70px;
  height: 50px;
  left: 100px;
  z-index: 100;
  position: absolute;
  background: url('https://cdn2.scratch.mit.edu/get_image/user/31539865_60x60.png') no-repeat;
  background-size: 80px;
}

.game__score {
  opacity: 0.5; 
  font-size: 200px;
  height: 100vh;
  font-family: monospace;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left:600px;
  z-index: -1;
}
 


.game__wall{
  width: 100px;
  height: 800px;
  position: absolute;
  animation: move-to-left 5s linear forwards;
  z-index: 1;
}

.game__bonus {
  width: 100px;
  height: 100px;
  position: absolute;
  z-index: 2;
}
.game__bonus--up {
  background: url('/pictures/Cristalballup.png');
}

.game__bonus--down {
  background: url('/pictures/Cristalballdown.png');
}

.game__bonus--left {
  background: url('/pictures/Cristalballleft.png');
}

.game__bonus--right {
  background-color: green;
}

.game__bonus--none {
  display: none;
}

.game__obstacle{
  width: 100px;
  height: 100px;
  background: url('/pictures/Energyball.png');
  position: absolute;
  z-index: 2;
}

.game__music{
  position: absolute;
}
